//
// Theme style
//

// Initialize
@import 'init';

// Components
@import './core/components/components';
@import 'components/components';
@import 'quill/dist/quill.snow.css';

// Layout
@import 'layout/layout';




// custom styles
.no-step-selected {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: medium;
        font-weight: bold;
    }
}


.email-channels {
    .card-body {
        padding: 1rem 1.25rem;
        .steps-wrapper {
            padding-left: 0;
            .single-step {
                list-style: none;
                margin-bottom: 1rem;
                background: #F3F6F9;
                border-radius: 8px;
                border: 2px solid transparent;

                &.active {
                    border: 2px solid rgb(0, 107, 255);
                }

                .step-card {
                    background: #F3F6F9;
                    padding-top: 1rem;
        
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    min-width: 0;
                    word-wrap: break-word;
                    background-clip: border-box;
                    border-radius: 0.25rem;
        
                    .step-name {
                        display: flex;
                        margin-bottom: 1rem;
                        align-items: center;
                        padding: 0 1rem;
                    }

                    .step-body {
                        padding: 0 1rem;
                        margin-bottom: 1rem;
                    }

                }
                .step-delete{
                  padding: 20px;
                }
            }
        }
    }
}



